@font-face {
  font-family: 'Lobster';
  src: local('Lobster'), url(../fonts/Lobster_1_4.otf) format('OpenType');
}
@font-face {
  font-family: 'Gotham-Thin';
  src: local('Gotham-thin'), url(../fonts/GOTHAM-THIN.TTF) format('truetype');
}
@font-face {
  font-family: 'Gotham-Light';
  src: local('Gotham-Light'), url(../fonts/GOTHAM-LIGHT.TTF) format('truetype');
}
@font-face {
  font-family: 'Gotham-Book';
  src: local('Gotham-Book'), url(../fonts/Gotham-Book.ttf) format('truetype');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: local('Gotham-Medium '), url(../fonts/GOTHAM-MEDIUM.TTF) format('truetype');
}
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
body {
    background: url(../img/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg.png', sizingMethod='scale')";
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#44b0d4+0,2a8ad8+100,207bca+100,5774b9+100 */
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

html{

  height: 100%;
}


.animsition{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
nav.top-bar {
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.4);
  text-align:center;
  font-family: "Gotham-Thin", 'Open Sans';
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.top-bar.expanded .title-area{
  background: none;
}

.top-bar.expanded{
  background: rgba(255, 255, 255, 0.4);
  z-index: 10;
}

section.top-bar-section {
  color:white;
  display: inline-block;
}

section.top-bar-section > ul > li{
  background:none;
  padding-top: 0.6em;
  padding-left: 0.45em;
  padding-right: 0.45em;
}

section.top-bar-section > ul > li > a{
  font-size: 1.35em;
  padding: 0 !important;
  margin-top: -4px !important;
  padding-left: 0em !important;
  padding-right: 0.1em !important;
  line-height: 1.5em !important;
  background:none !important;
  font-family: "Gotham-Light", 'Open Sans';
}

h1{
  padding-top: 0.8em;
  color: white;
  font-family: "Gotham-Light", 'Open Sans';
}
h2{
  color: white;
  font-family: "Gotham-Light", 'Open Sans';
  font-size: 1.4em;
}
.center{
  text-align: center;
  opacity: 1 !important;
}

/* Link Effekt */

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 8em;
  line-height: 1;
  color: #9e9ba4;
  display: inline-block;

}
/* Yaku */
.link--yaku {
  color: #44b0d4;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 10em;
  overflow: hidden;
  padding: 0 0 10px;
}

.link--yaku::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-width: 2px 0;
  border-color: #44b0d4;
  border-style: solid;
  left: 0;
  -webkit-transform: translate3d(-101%,0,0);
  -moz-transform: translate3d(-101%,0,0);
  -ms-transform: translate3d(-101%,0,0);
  transform: translate3d(-101%,0,0);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -webkit-transform 0.5s;
  -ms-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.link--yaku:hover::before {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.link--yaku span {
  display: inline-block;
  position: relative;
  -webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
  -moz-transform: perspective(1000px) rotate3d(0,1,0,0deg);
  -ms-transform: perspective(1000px) rotate3d(0,1,0,0deg);
  transform: perspective(1000px) rotate3d(0,1,0,0deg);
  -webkit-transition: -webkit-transform 0.5s, color 0.5s;
  -moz-transition: -webkit-transform 0.5s, color 0.5s;
  -ms-transition: -webkit-transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s;
}

.link--yaku:hover span {
  color: #44b0d4;
  -webkit-transform: perspective(1000px) rotate3d(0,1,0,360deg);
  -moz-transform: perspective(1000px) rotate3d(0,1,0,360deg);
  -ms-transform: perspective(1000px) rotate3d(0,1,0,360deg);
  transform: perspective(1000px) rotatey(180deg);
}

.link--yaku span:nth-child(4),
.link--yaku:hover span:first-child, .link--yaku:hover span:nth-child(8) {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

.link--yaku span:nth-child(3),
.link--yaku:hover span:nth-child(2), .link--yaku:hover span:nth-child(5), .link--yaku:hover span:nth-child(9){
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.link--yaku span:nth-child(2),
.link--yaku:hover span:nth-child(3), .link--yaku:hover span:nth-child(6), .link--yaku:hover span:nth-child(10) {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.link--yaku span:first-child,
.link--yaku:hover span:nth-child(4), .link--yaku:hover span:nth-child(7), .link--yaku:hover span:nth-child(11) {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

@media screen and (max-width: 42em) {
  .link--yaku { font-size: 4em; }
}

/*index page */



.bling{
  -webkit-animation-duration: 0.1s;
  -moz-animation-duration: 0.1s;
  animation-duration: 0.1s;
}

.bling.animated{
  text-shadow:  -0.02em 0 #ccd5d7, 0 0.02em #ccd5d7, 0.02em 0 #ccd5d7, 0 -0.02em #ccd5d7;
}

.logo{
  text-align: center;
  font-family: "Lobster";
  font-size: 3em;
  color:white;
  text-shadow:  -0.03em 0 #5775b9, 0 0.03em #5775b9, 0.03em 0 #5775b9, 0 -0.03em #5775b9, 0.05em 0.05em 0.2em #1d1f1f;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.logo span:hover{
  text-shadow:  -0.02em 0 #ccd5d7, 0 0.02em #ccd5d7, 0.02em 0 #ccd5d7, 0 -0.02em #ccd5d7;
}

@media only screen and (min-width: 40.063em) {
  .logo{
    font-size: 5em;
  }
}
.logo.move{
  -webkit-transform: translate(0em,2em) scale(1.2);
  -moz-transform: translate(0em,2em) scale(1.2);
  -o-transform: translate(0em,2em) scale(1.2);
  -ms-transform: translate(0em,2em) scale(1.2);
  transform: translate(0em,2em  ) scale(1.2);
}

.top-bar{
  opacity: 0.0;
  visibility: "visible";
}

.main{
  margin-top: 1em;
  visibility: "visible";
  overflow: visible;
}

#watch-text{
  position: absolute;
  bottom: 2em;
  left: 2em;
}

#jssor_1{
  opacity: 0.0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 1000px;
  height: 500px;
  visibility: hidden;
}


.right-headline{

}

.slides1{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1000px;
  height: 500px;
}


#caption1_1{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1000px;
  height: 100px;
}

#caption1_1 h1{
  font-family: "Gotham-Book", "Montserrat";
}

#caption1_1 span:hover::before{
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

#caption1_1 span:hover{
  -webkit-transform: perspective(1000px) rotate3d(0,1,0,360deg);
  -moz-transform: perspective(1000px) rotate3d(0,1,0,360deg);
  transform: perspective(1000px) rotatey(180deg);
  color: #ffd700;
}

#caption1_1 span{
  display: inline-block;
  position: relative;
  -webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
  -moz-transform: perspective(1000px) rotate3d(0,1,0,0deg);
  transform: perspective(1000px) rotate3d(0,1,0,0deg);
  -webkit-transition: -webkit-transform 0.5s, color 0.5s;
  -moz-transition: -moz-transform 0.5s, color 0.5s;
  -ms-transition: -ms-transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s;
}

.slide-img{
  left : 0 !important;
  width: 40% !important;
  height: auto !important;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

#caption1_2{
  position: absolute;
  width: 50%;
  overflow: visible;
  right: 30px;
  height: 100px;
  text-align: center
}

#support-heading{
  margin-top: 30px;
  color: white;
  font-size: 4.5em;
  white-space: nowrap;
  font-family: "Gotham-Book", "Montserrat";
}

#caption1_2 h1{
  padding-top: 30px;
  font-size: 5em;
  white-space: nowrap;
  font-family: "Gotham-Book", "Montserrat";
}

#caption1_2 h2{
  font-family: "Gotham-Book", "Montserrat";
  font-size: 2em;
}

#caption1_2 span{
  font-family: "Gotham-Book", "Montserrat";
  color: white;
}

.available{
  position: relative;
  top: 150px;
  font-size: 3em;
}

.jssorb05 {
    position: absolute;
    bottom:-484px;
    right:6px;
    left:0px;
    margin:auto;
    z-index: 99;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('../img/b05.png') no-repeat;
    overflow: visible;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }


/* Accessoirs Page */
.accessoir{
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.5em;
  margin-right:1.4em;
  margin-bottom:1em;
}

.no-bg{
  background-color: transparent;
  padding: 0;
}
#carbon, #power-bank, #flip-case, #tempered-glass, #kfz-kabel, #iphone-cases, #sim-karten, #apple-accesoires, #selfie-sticks, #luxus-cases{
  opacity: 0;
}
#luxus-cases{
  float: left;
}
.row.main > .small-12.column{
  padding-left:0;
  padding-right:0;
}

.image_left{
  float: left;
  margin-right: 1em;
}
/* About Us Page */

#about-text{
  text-align: left;
}

#about-text h1{
  padding-top: 0.0em;
  color: #43afd4;
  font-family: "Gotham-Medium", "Montserrat";
}

#about-text h1:before, #about-text h1:after {
    content: attr(title);
    padding: 5px;
    color: rgba(255,255,255,.1);
    position: absolute;
}

#about-text h1:before { top: 1px; left: 1px }
#about-text h1:after  { top: 2px; left: 2px }

.logofont{
  font-family: "Lobster";
  font-size: 2.7em;
  color:white;
  text-shadow:  -0.03em 0 #5775b9, 0 0.03em #5775b9, 0.03em 0 #5775b9, 0 -0.03em #5775b9, 0.05em 0.05em 0.2em #1d1f1f;
}

.logofont a{
  font-family: "Lobster";
  font-size: 1em;
  color:white;
  text-shadow: -0.03em 0 #5775b9, 0 0.03em #5775b9, 0.03em 0 #5775b9, 0 -0.03em #5775b9, 0.05em 0.05em 0.2em #1d1f1f;
}
.logofont > a > span > img{
  height:3em;
}

#about-text{
  width: 70%;
  padding: 1em;
  margin: 0 auto;
  text-align: left;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0.5em;
}
/* News Page */
#news-wrapper{
  width:80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 0.5em;
  color:white;
  padding-left: 2em;
  padding-right: 2em;
}
.news-entry{
  padding-top: 2em;
  padding-bottom: 1em;
  border-bottom: 2px solid #79aaca;
}
.news-header{
  width: 80%;
  font-size: 2em;
  color: #43afd4;
}

/* Stores Page */

#map-wrapper{
}

#map-hand{
  position: absolute;
  max-height: 500px;
  left:0;
  right:0;
  bottom:0;
  margin: 0 auto;
}

#map{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: -40px;
  right: 0;
  z-index: 3000;
}

#map > p{
  font-size: 0.8em;
}



.address{
    background: rgba(255, 255, 255, 0.4);
    margin-top: 1em;
    border-radius: 0.5em;
    padding-left: 5px !important;
    color:white;
    font-family: "Gotham-Thin", 'Open Sans';
}

.gaddress-header{
  font-size: 0.8em;
  font-weight: bold;
  font-family: "Gotham-Thin", 'Open Sans';
}

.gaddress{
  font-family: "Gotham-Thin", 'Open Sans';
  font-size: 0.8em;
}

.gaddress-opening{
  font-family: "Gotham-Thin", 'Open Sans';
  font-size: 0.8em;
}

.adresse{
  font-weight: bold;
  font-family: "Gotham-Thin", 'Open Sans';
}

.pano{
  position: absolute;
  max-height: 500px;
  left:0;
  right:0;
  bottom:0;
  margin: 0 auto;
}

.pano-frame{
  width: 100%;
  height: 150px;
  display: none;
}

#image3, #image1, #image2{

}

#image3, #image1, #image2{
   width: 200px;
   height: 350px;
}

#image3-reel, #image1-reel, #image2-reel{
  width: 183px;
  height: 325px;
  position: absolute;
  bottom: 121px;
  left:-53px;
}

/* Medium Screen */
@media only screen and (min-height: 870px){

.pano-frame{
     bottom: 100px;
}

#image3, #image1, #image2 {
   width: 260px;
   height: 465px;
   background-size: 865px 260px;
}

#image3-reel, #image1-reel, #image2-reel {
  right: 30px;
  width: 262px;
  height: 465px;
  position: absolute;
  bottom: 175px;
  left: -45px;
}

  #map-hand{
    max-height: 850px;
  }
}

/* Large Screen */
@media only screen and (min-height: 1000px) {
  #map-hand{
    height: 1000px;
  }
  #image3, #image1, #image2 {
     width: 310px ;
     height: 549px;
     background-size: 1867px 549;
  }

  #image3-reel, #image1-reel, #image2-reel {
    right: 30px;
    width: 310px;
    height: 551px;
    position: absolute;
    bottom: 209px;
    left: -57px;
  }
  .pano{
    max-height: none;
  }
}

@media screen and (max-width: 42em) {
  .address{
    text-align: center;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    background: rgba(255, 255, 255, 0.4);
    margin-top: 1em;
    padding-top: 0.5em;
    border-radius: 0.5em;
    color:white;
  }

  .no-top-mobile{
    padding-top: 0px;
    margin-top: 0px;
  }

  .address-spacer{
    height: 1px;
  }

  #map-reset{
    display: none;
  }

  body{
  }
}
